<h1>Lista de Películas</h1>
<div class="movies-container">
  <div class="movies-grid">
    @for(movie of movies; track movie.id) {
    <div class="movie-card" (click)="navigateToDetail(movie)">
      <img [src]="movie.posterImageUrl" alt="{{ movie.title }} poster" />
      <div class="movie-title">{{ movie.title }}</div>
      <div class="movie-meta">Director: {{ movie.director }}</div>
      <div class="movie-meta">Año: {{ movie.releaseYear }}</div>
      <div class="movie-meta">Calificación: {{ movie.rating }}</div>
    </div>
    }
  </div>
</div>
